.about {
    min-height: 100vh;
    padding: 80px 20px;
    text-align: center;
    background-color:wheat;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about.show {
    opacity: 1;
    transform: translateY(0);
}

.about h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.about p {
    max-width: 700px;
    margin: 0 auto 3rem;
    color: #555;
    line-height: 1.7;
}

.about-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.card h3 {
    margin-bottom: 10px;
}
