.home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width:100%;    
}

.words{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2px;
}
.home h1 {
    transition: color 0.3s ease;
}

.home h1:hover {
    color: #4f46e5;
}


.home-btn {
    padding: 12px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: #f51818;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-btn:hover {
    background-color: #4338ca;
    transform: translateY(-3px);
}
