.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(247, 244, 244, 0.945);
  padding: 10px 20px;
  color: rgb(245, 16, 16);
  position: sticky;
  top: 0;
  z-index: 100;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(240, 12, 12);
  font-weight: bold;
  transition: 0.3s;
}

.nav-item li:hover {
  color: #ffeb3b;
  cursor: pointer;
}


.mobile-menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #a3caa4;
  }

  .nav-links-mobile .nav-item {
    margin: 10px 0;
    text-align: center;
  }

  .mobile-menu-icon {
    display: block;
  }
}
