.register {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background: whitesmoke;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.register.show {
    opacity: 1;
    transform: translateY(0);
}

.register h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.register input {
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.register input:focus {
    border-color: #e01d1d;
    outline: none;
}

.register button {
    padding: 12px 15px;
    font-size: 1rem;
    background-color: #f73434;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register button:hover {
    background-color: #4338ca;
    transform: translateY(-2px);
}
.success-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4f46e5;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-weight: bold;
    z-index: 1000;

    animation: popupFade 0.3s ease forwards;
}

@keyframes popupFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.popup button {
  margin-top: 20px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
}